<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178800773933-mg46g84admrn0pm95q1rkhm3fih9jq8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178800773933-mg46g84admrn0pm95q1rkhm3fih9jq8d</string>
	<key>API_KEY</key>
	<string>AIzaSyBqEF41l5P_hMo3lkupd8YiJhwPpT3ew4o</string>
	<key>GCM_SENDER_ID</key>
	<string>178800773933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miaberthier.RubberDuck</string>
	<key>PROJECT_ID</key>
	<string>rubberduck-65f9c</string>
	<key>STORAGE_BUCKET</key>
	<string>rubberduck-65f9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178800773933:ios:2e581eb8ead573057aa1a4</string>
</dict>
</plist>